<tr>
  <td><%= page.created_at.strftime('%d %b, %Y') %></td>
  <td><%= link_to(page.title, admin_page_path(page)) %></td>
  <td><%= truncate(page.body, :length => 100) %></td>
  <td><%= '/' + page.slug %></td>
	<td><%= page.page_order %></td>
  <td>
    <%= link_to(image_tag('silk/pencil.png', :alt => 'edit'), admin_page_path(page), class: 'pull-left') %>
    <%= form_for(page, :as => :page, :url => admin_page_path(page), :html => {:class => 'delete-item pull-left', :method => :delete}) do |form| -%>
      <%= image_submit_tag("silk/delete.png", :alt => 'Delete Comment') %>
    <% end -%>
  </td>
</tr>
