<% content_for :page_title do -%>
  <%= post_title @post -%>
<% end -%>

<%= render @post %>

<hr />

<h2 id="comments">Comments</h2>
<ul class="unstyled">
  <% @post.approved_comments.each do |comment| -%>
    <li class="well well-small" id="comment-<%= comment.id %>">
      <%= render comment %>
    </li>
  <% end -%>
</ul>

<% unless @comment.errors.empty? -%>
<div class="alert alert-danger">
	<button type="button" class="close" data-dismiss="alert">×</button>
  <% @comment.errors.sort_by(&:first).each do |error| -%>
    <%= format_comment_error(error) %>. 
  <% end -%>
</div>
<% end -%>

<div class='well well-small'>
  <%= form_for [@post, @comment], :html => {class: 'form-horizontal'} do |form| -%>
		<legend>Post a Comment</legend>
		<div class="control-group">
			<%= form.label :author, class: 'control-label' %>
	    <div class="controls">
	      <%= form.text_field 'author' %>
				<span class="help-inline">Name or <%= link_to 'OpenID', 'http://openidexplained.com/' %></span>
	    </div>
	  </div>
		<div class="control-group">
			<%= label_tag 'Comment', nil, class: 'control-label' %>
			<div class="controls">
				<%= form.text_area 'body', class: 'input-xlarge', rows: 8 %>
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
				<%= form.submit 'Add Comment', class: 'btn' %>
			</div>
		</div>
  <% end -%>
</div>

<p>Looking for more? Head on over to the <%= link_to 'archives', archives_path %>.</p>
