<div class="well" style="padding: 8px 0;">
	<ul class="nav nav-list">
		<li class="nav-header">Products</li>
		<li class="<%= "active" if @page_title == 'Gerotors' %>"><%= link_to 'Gerotors', :controller => :products, :action => :gerotors %></li>
		<li class="<%= "active" if @page_title == 'VVT Components' %>"><%= link_to 'VVT Components', :controller => :products, :action => :vvt_components %></li>
		<li class="<%= "active" if @page_title == 'Valve Train Components' %>"><%= link_to 'Valve Train Components', :controller => :products, :action => :valve_train_components %></li>
		<li class="<%= "active" if @page_title == 'Power Steering Components' %>"><%= link_to 'Power Steering Components', :controller => :products, :action => :power_steering_components %></li>
		<li class="<%= "active" if @page_title == 'Sensor Rings' %>"><%= link_to 'Sensor Rings', :controller => :products, :action => :sensor_rings %></li>
	</ul>			
</div>
