<% content_for(:page_title) do -%>
	<%= @page_title + " - Engineered Sintered Components" %>
<% end -%>
<div class="content-main">
	<div class="row">
		<div class="span3">
			<%= render 'responsibility/responsibility_sidebar' %>
		</div>
		<div class="span9">
			<h1>Community</h1>
			<ul class="thumbnails">
				<li class="thumbnail span4"><%= image_tag '/assets/community-1.jpg', alt: '' %></li>
				<li class="thumbnail span4"><%= image_tag '/assets/community-2.jpg', alt: '' %></li>
			</ul>
			<p>Engineered Sintered Components is a proactive partner with our local community.  We are working together with the Town of Troutman with land and resources to build Troutman’s 1st recreational park, “Troutman ESC Park”.  The park will consist of 30.1 acres located off North Eastway Drive in Troutman and is scheduled for a grand opening in early April 2013.</p>
			<p>The first phase of the park will have Athletic Fields, Walking Trails with Exercise Stations, a Playground, a Creek Side Nature Trail, Picnic Pavilion, and Dog Play Area.  The next phase of the park will have Basketball Courts, Tennis Courts, Softball Fields, and an Amphitheater.</p>
			<hr />
			<p><%= link_to image_tag('/assets/park-brochure-thumb.JPG', alt: '', class: 'img img-polaroid'), '/assets/park-brochure.jpg' %></p>
			<hr />
			<p>ESC also carries its community social responsibilities to our local schools.  We provide Environmental Stewardship presentations to our local schools and encourage the students to become involved in the preservation of our resources, especially in our local community.</p>
			<ul class="thumbnails">
				<li class="thumbnail span4"><%= image_tag '/assets/community-3.jpg', alt: '' %></li>
				<li class="thumbnail span4"><%= image_tag '/assets/community-4.jpg', alt: '' %></li>
			</ul>
		</div>
	</div>
</div>
