<div class="footer">
	<div class="container">
		<div class="row">
			<div class="span3">
				<h5>Company</h5>
				<ul class="unstyled">
					<li><%= link_to 'About Us', :controller => :site, :action => :about_us %></li>
					<li><%= link_to "President's Message", :controller => :site, :action => :presidents_message %></li>
					<li><%= link_to 'Mission Statement', :controller => :site, :action => :mission_statement %></li>
					<li><%= link_to 'Global Supply', :controller => :site, :action => :global_supply %></li>
					<li><a href="#">Quality</a></li>
					<li><a href="#">Environment &amp; Safety</a></li>
					<li><a href="#">Careers</a></li>
					<li><a href="#">Contact Us</a></li>
				</ul>
			</div>
			<div class="span3">
				<h5>Products</h5>
				<ul class="unstyled">
					<li><%= link_to 'Gerotors', :controller => :products, :action => :gerotors %></li>
					<li><%= link_to 'VVT Components', :controller => :products, :action => :vvt_components %></li>
					<li><%= link_to 'Valve Train Components', :controller => :products, :action => :valve_train_components %></li>
					<li><%= link_to 'Power Steering Components', :controller => :products, :action => :power_steering_components %></li>
					<li><a href="#">Sensor Rings</a></li>
					<li><a href="#">Sprockets and Pulleys</a></li>
				</ul>
			</div>
			<div class="span3">
				<h5>Links</h5>
				<ul class="unstyled">
					<li><%= link_to 'Sumitomo Electric Sintered Alloys', 'http://global-sei.com' %></li> 
					<li><%= link_to 'Eaton Corporation', 'http://eaton.com' %></li>
				</ul>
			</div>
			<div class="span3">
			</div>
		</div>
	</div>
</div>
