<div class="navbar">
	<div class="navbar-inner">
		<div class="container">
			<ul class="nav">
				<li><%= link_to 'Home', root_path %></li>
				<li class="dropdown">
					<a class="dropdown-toggle" id="our-company" role="button" data-toggle="dropdown" data-target="#" href="#">
						Company
						<b class="caret"></b>
					</a>
					<ul class="dropdown-menu" role="menu" aria-labelledby="our-company">
						<li><%= link_to 'About Us', :controller => :company, :action => :about_us %></li>
						<li><%= link_to "President's Message", :controller => :company, :action => :presidents_message %></li>
						<li><%= link_to 'Mission Statement', :controller => :company, :action => :mission_statement %></li>
						<li><%= link_to 'Global Supply', :controller => :company, :action => :global_supply %></li>
					</ul>
		    </li>
				<li class="dropdown">
					<a class="dropdown-toggle" id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="#">
						Products
						<b class="caret"></b>
					</a>
					<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
						<li><%= link_to 'Gerotors', :controller => :products, :action => :gerotors %></li>
						<li><%= link_to 'VVT Components', :controller => :products, :action => :vvt_components %></li>
						<li><%= link_to 'Valve Train Components', :controller => :products, :action => :valve_train_components %></li>
						<li><%= link_to 'Power Steering Components', :controller => :products, :action => :power_steering_components %></li>
						<li><%= link_to 'Sensor Rings', :controller => :products, :action => :sensor_rings %></li>
						<li><%= link_to 'Sprockets and Pulleys', :controller => :products, :action => :sprockets_and_pulleys %></li>
					</ul>
		    </li>
				<li class="dropdown">
					<a class="dropdown-toggle" id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="#">
						Responsibility
						<b class="caret"></b>
					</a>
					<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
						<li><%= link_to 'Quality', :controller => :responsibility, :action => :quality %></li>
						<li><%= link_to 'Environment', :controller => :responsibility, :action => :environment %></li>
						<li><%= link_to 'Safety', :controller => :responsibility, :action => :safety %></li>
					</ul>
				</li>
				<li><%= link_to 'Careers', :controller => :site, :action => :careers %></li>
				<li><%= link_to 'Contact', :controller => :site, :action => :contact %></li>
			</ul>
			<form method="get" id="sform" action="http://www.google.com/search" class="navbar-search pull-right">
				<input type="text" id="q" class="search-query input-medium" placeholder="Search">
				<%= hidden_field_tag 'sitesearch', enki_config[:url] %>
	    </form>
		</div>
	</div>
</div>
