<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
  <meta charset="utf-8">
  <title><%= html_title yield(:page_title) %></title>
  <%= csrf_meta_tag %>
  <%= stylesheet_link_tag 'application' %>
	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
  <%= javascript_include_tag 'application' %>
  <%= open_id_delegation_link_tags(enki_config[:open_id_delegation, :server], enki_config[:open_id_delegation, :delegate]) if enki_config[:open_id_delegation] %>
  <%= yield(:head) %>
</head>
<body>
	<div id="wrap">
		<%= render 'layouts/header' %>
		<%= render 'layouts/navbar' %>
		<div class="container">
			<div class="row">
				<div class="span12">
					<%= yield %>
				</div>
			</div>
		</div>
		<div id="push"></div>
	</div>
	<%= render 'layouts/footer' %>
</body>
</html>
