<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
  <meta charset="utf-8">
  <title><%= html_title yield(:page_title) %></title>
  <%= csrf_meta_tag %>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application' %>
  <%= open_id_delegation_link_tags(enki_config[:open_id_delegation, :server], enki_config[:open_id_delegation, :delegate]) if enki_config[:open_id_delegation] %>
  <%= yield(:head) %>
</head>
<body>
	<div class="container" id="wrap">
		<div id="header">
			<%= link_to image_tag('/assets/rails.png', alt: 'rails'), root_path %>
		</div>
		<!-- Navigation Bar -->
		<div class="navbar">
		  <div class="navbar-inner">
				<div class="container">
			    <%= link_to enki_config[:title], root_path, class: 'brand', style: "display: none;" %>
					<ul class="nav">
			      <% page_links_for_navigation.each do |link| -%>
	            <li><%= link_to(link.name, link.url) %></li>
	          <% end -%>
			    </ul>
					<form method="get" id="sform" action="http://www.google.com/search" class="navbar-search pull-right">
					  <input type="text" id="q" class="search-query" placeholder="Search">
						<%= hidden_field_tag 'sitesearch', enki_config[:url] %>
					</form>
				</div>
		  </div>
		</div>
		<!-- Body -->
		<div class="row">
			<!-- Page Content -->
			<div class="span8">
				<%= yield %>
			</div>
			<!-- Sidebar -->
			<div class="span4">
				<div class="well" style="padding: 8px 0;">
					<ul class="nav nav-list">
						<li class="nav-header">Navigation</li>
			      <% page_links_for_navigation.each do |link| -%>
	            <li><%= link_to(link.name, link.url) %></li>
	          <% end -%>
			    </ul>
				</div>
        <% unless category_links_for_navigation.empty? -%>
					<div class="well" style="padding: 8px 0;">
	          <ul class="nav nav-list">
							<li class="nav-header">Categories</li>
	            <% category_links_for_navigation.each do |link| -%>
	              <li><%= link_to(link.name, link.url) %></li>
	            <% end -%>
	          </ul>
					</div>
        <% end -%>
			</div>
		</div>
		<div id="push"></div>
  </div>
	<div class="well" id="footer" style="margin-bottom:0;">
		<div class="container"><%= enki_config[:title] %> &#169; <%= enki_config[:author, :name] %>. Valid <a href="http://validator.w3.org/check?uri=referer">HTML5</a> and <%= link_to "ATOM", "http://feedvalidator.org/check.cgi?url=#{enki_config[:url]}/posts.atom" %>. Powered by <a href="http://www.enkiblog.com" title="A Ruby on Rails blogging app for the fashionable developer">Enki</a>.</div>
	</div>
</body>
</html>
